@import 'https://fonts.googleapis.com/css?family=VT323';

body { 
  color: #e0e2f4;
  text-align: center;
}

body, p { 
  font: normal 20px/1.25rem 'VT323', monospace; 
}
h1 { 
  font: normal 2.75rem/1.05em 'VT323', monospace; 
}
h2 { 
  font: normal 2.25rem/1.25em 'VT323', monospace; }

h3 {
   font: lighter 1.5rem/1.25em 'VT323', monospace; 
  }
h4 {
   font: lighter 1.125rem/1.2222222em 'VT323', monospace; 
  }

body { 
    background: #010101;
    display: flex;
    align-items: center;
    justify-content: center;
}